CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

.vscode/
wgpu-cmake/

build/
build-release/
build-shared/
build-shared-release/

wgpu-native.zip

imgui.ini